body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #000dff;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  .container {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .imageBox {
    padding: 20px;
    width: 200px;
    height: 200px;
    margin: 10px;
    position: relative;
  }
  .imageBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .deleteButton:hover {
    background-color: #0d0c0c;
  }
  #imageContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #imageContainer img {
    max-width: 100%;
  }
  #pdfDownloadLink {
  
    
    margin: 20px auto;
    text-align:center;
    background: "red";
    width:100%;
  }
  
  #fileInput {
    display: none;
  }
  button{
    border: none;
    background: var(--clr);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 15px;
  }
  
  button:hover{
    background-color: aqua;
    background: var(--hov);
  }
  
  .deleteButton {
    background-color: #051c2d;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    padding: 0;
    right: 5px;
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
 /* body {
    display: flex;
    margin: 0;
    padding-bottom: 50px; /* Adjust according to the height of your footer 
    min-height: 100vh;
    position: absolute;
}*/


.footer {
    background-color: #ffffff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footers {
    
    text-align: center;
    justify-content: center;
    margin-top: auto;
    display: flex;
    bottom: 10px;;
    width: 100%;
    height: auto;
    
    
    overflow: hidden;
   
    
   
    background-color: #fcfeff;
   
}


.hre{
    filter: grayscale(1);
    width: 5vw;
    height: 5vw;
    
    float: left;
    padding: 15px;
    
    list-style-type: none;
    
    
    
}
.hre:hover{
    filter: grayscale(0);

}
  
.e{ 
    height: 200px;
    width: 200px;
    border: 1px solid black;
}
.containery span{
    text-align: center;
    font-size: 2vw;
}
